// colors
$green: #3BC8AA;
$orange: #FF551A;
$black: #1E1E1E;

// fonts
$titleFont: "PT Serif";
$bodyFont: "Arial";

body {
  color: $black;
  font-family: $bodyFont;
}

h1, h2 {
  font-family: $titleFont;
}

h2 {
  color: $green;
}
